:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.75rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.rs-picker-popup.rs-picker-popup-daterange {
  z-index: 4000 !important;
}

.rs-input-group.rs-input-group-inside, .rs-input{
  background-color: transparent !important;
}

.rs-input-group{
  border : 1px solid #27272a !important;
}

.rs-input-group:focus-within{
  outline : none !important;
}

.rs-input{
  padding: 0.5rem 0.5rem !important ;
  color: #000 !important;
  border-radius: 5px !important;
  font-size: 1rem !important;
}

.rs-input::placeholder{
  color: #252525 !important;
}

.rs-picker-caret-icon{
  color: #000 !important;
}

.rs-input-group-addon{
  padding: 0.5rem 0.5rem !important;
}


